*{
	padding: 0;
	margin: 0;
}
body{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: #000000;
}
#logo{
	width: 80%;
	color:white;
	cursor: default;
}
nav{
	width: 80%;
	display: flex;

	align-items: center;
	flex-direction: row
	justify-content: space-around;
}
h1{
	font-family: 'VT323', monospace;
	font-size: 32px;
	font-weight: bolder;
}
p{
	font-family: 'VT323', monospace;
	font-size: 16px;
}
.about{
	width: 20%;
	align-items: center;
	justify-content: space-around;
	display: flex;
}
#content{
	width: 80%;
	height: 60vh;
	font-family: 'VT323', monospace;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#more{
	width: 80%;
	height: 20vh;
	font-family: 'VT323', monospace;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
#more_message{
	font-family: 'VT323', monospace;
	font-size: 20px;
	color: white;
}
#more_btn{
	font-family: 'VT323', monospace;
	color: white;
	background: black;
	border:none;
	padding: 5px;
	font-size: 20px;
	transition: all 0.3s ease;
}
#more_btn:hover{
	background: white;
	color: black;
}
.links{
	font-family: 'VT323', monospace;
	font-size: 16px;
	color: white;
	text-decoration:none;
	text-align: center;
	background:black;
	border:none;
	width: 30%;
	height: 100%;
	padding:10px;
	transition: all 1s ease;
}
.links:hover{
	text-decoration: underline;
}
#rick_roll{
	background: white;
	color: block;
	animation: flash 2s infinite;
}
#advice{
  	display: inline;
  	overflow-wrap: normal;
  	font-size: 20px;
}
span{
	display: inline;
}
#cursor{
	animation: blink 0.5s infinite;
}
@keyframes blink{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
@keyframes flash{
	0%{
		background: black;
		color:white;
	}
	100%{
		background: white;
		color:black;
	}
}
@media (max-width:1000px){

   #content{
   	width: 70%;
   }
}